<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dawson's Masks Status - Location Form</title>
    <style>
        .inputs {
            padding: 10px;
        }
    </style>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Account/login}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/locations}">Locations</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/Account}">Account information</a>
                </li>
            </ul>
        </div>
    </nav>
    <form method="POST" th:action="@{/locations/newLocation/submitLocation}" th:object="${Location}">
        <div class="inputs">
            <label for="Location_Name">Location Name</label>
            <input type="text" id="Location_Name" placeholder="Location Name" th:field="*{Location_Name}" />
        </div>
        <div class="inputs">
            <label for="Status">Status</label>
            <input id="Status" placeholder="Status" th:field="*{Location_Status}" />
        </div>
        <div class="inputs">
            <label for="Address">Address</label>
            <input id="Address" placeholder="Address" th:field="*{Address}" />
            <label for="City">City</label>
            <input id="City" placeholder="City" th:field="*{City}" /><br/>
            <label for="Country">Country</label>
            <input id="Country" placeholder="Country" th:field="*{Country}" />
            <label for="Zip">Zip</label>
            <input id="Zip" placeholder="Zip" th:field="*{Zip}" />
        </div><br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>